
.ico_footer{
    height: 50px;
    width: 50px;
}

.container_color{
    background-color: rgb(52, 138, 236);
}
body{
    background-color: #6fb4f7;
} 
footer{
    background-color: #000;
}
.imagenG
{
    background-image: url(../img/Estrella.jpg);
    background-size: cover;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    background-position: 0% 25%;
    height: 50px;
}

.imagenes_galeria{
    width: 100%;
    height: 100%;
    padding: 5%;
}
/*+++++++++++++*/
.imagenes_galeria2{
    width: 100%;
    height: 100%;
}

.col-centrada{
    float: none;
    margin: 0 auto;
}

.centrar{
    display:flex;
    margin-left: 21%;
    margin-right: 21%;;
}

h1, h3{
    color: #fff;;
}